@font-face {
  font-family: Outfit;
  src: url(../fonts/Outfit-VariableFont_wght.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Outfit, "Roboto", sans-serif;
  background-color: hsl(217deg, 54%, 11%);
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__equlibrium-name {
  font-size: 0.875rem;
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  margin-block: 20px;
  transition: color 0.1s linear;
}
.content__equlibrium-name:hover {
  color: hsl(215deg, 51%, 70%);
}

.content__equlibrium-slogan {
  color: hsl(215deg, 51%, 70%);
  margin-top: 20px;
  font-weight: 300;
  font-size: 1.125rem;
}

hr {
  color: hsl(215deg, 32%, 27%);
}

.content {
  background-color: hsl(216deg, 50%, 16%);
  max-width: 330px;
  width: 100%;
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 13px;
  box-shadow: 10px 6px 77px -13px rgba(0, 0, 0, 0.73);
  -webkit-box-shadow: 10px 6px 77px -13px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 10px 6px 77px -13px rgba(0, 0, 0, 0.73);
}
.content .content__img-container {
  margin-bottom: 20px;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  border-radius: 13px;
}
.content .content__img-container #content__img-container__equilibrium-image {
  border-radius: 7px;
  width: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  transition: opacity 0.5s linear;
}
.content .content__img-container .img-view {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  grid-column-start: 1;
  grid-row-start: 1;
  opacity: 0;
  transition: background-color 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}
.content .content__img-container .img-view:hover {
  background-image: url("../img/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
  opacity: 1;
  cursor: crosshair;
}

.content__state-wrap {
  display: flex;
  justify-content: space-between;
  margin-block: 20px;
}
.content__state-wrap .content__state-wrap__flex-ethereum,
.content__state-wrap .content__state-wrap__flex-clock {
  display: flex;
  block-size: fit-content;
}
.content__state-wrap .content__state-wrap__flex-ethereum img,
.content__state-wrap .content__state-wrap__flex-clock img {
  margin-right: 8px;
}
.content__state-wrap .content__state-wrap__flex-ethereum {
  color: hsl(178deg, 100%, 50%);
}
.content__state-wrap .content__state-wrap__flex-clock {
  color: hsl(215deg, 51%, 70%);
}
.content__state-wrap .content__state-wrap__flex-clock p {
  font-size: 0.9rem;
}

.content__footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.content__footer img {
  margin-right: 18px;
  border-radius: 100%;
  max-width: 32px;
  border: 0.25px solid hsl(0deg, 0%, 100%);
}
.content__footer p {
  font-weight: 300;
  color: hsl(215deg, 51%, 70%);
}
.content__footer p a {
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  transition: color 0.2s linear;
}
.content__footer p a:hover {
  color: hsl(215deg, 51%, 70%);
}

/*# sourceMappingURL=style.css.map */
